:root {
	--white:  antiquewhite;
	--black:  black;
	--yellow: #caa32a;

	--bass: 0.1;
	--treble: 0.4;
	--volume: 0.4;

	--font-base: 28;
	--font-break: 1024;

	--font-size-base: calc(var(--font-base) * 1px);
	--font-size-break: calc(var(--font-break) * 1px);
	--font-size-resp: calc(var(--font-base) * 100 / var(--font-break) * 1vw);
	--font-size: min(var(--font-size-resp), var(--font-size-base));
}


* {
	margin: 0;
	box-sizing: border-box;
	font-family: Logic;
}


html {
	font-size: var(--font-size);
}


body {
	height: 100vh;
	overflow: hidden;
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 100dvh;
	max-width: 100%;
	justify-content: center;
	align-items: center;
	padding: 2rem;
}

main {
	position: relative;
	width: 100%;
	max-width: calc(var(--font-size-break) - 4rem);
	max-height: 95vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 1em 1.5em 1.5em 1.5em;
	background-color: var(--white);
	border-radius: 1em;
	
	box-shadow:
		0 0 0 0.12em var(--black),
		0 0 0 0.20em var(--yellow),
		0 0 0 0.36em var(--black);
}


.dotfield {
	height: 100vh;
	overflow: hidden;
	display: flex;
	position: fixed;
	width: 100%;
	inset: 0;

	&::before,
	&::after {
		content: "";
		flex: 1;
		background-color: var(--color1);
		background-size: 10vmin 10vmin;
		background-position: 0 0, 5vmin 5vmin;
		background-image: radial-gradient(var(--color2) calc(2% + calc(40% * var(--volume))), transparent calc(2% + calc(40% * var(--volume)))),
			              radial-gradient(var(--color2) calc(2% + calc(40% * var(--treble))), transparent calc(2% + calc(40% * var(--treble))));
	}

	&::before {
		--color1: var(--black);
		--color2: var(--white);
	}

	&::after {
		--color1: var(--white);
		--color2: var(--black);
	}

}


.logo {
	letter-spacing: 0.1em;
	font-family: OPTINational;
	font-size: 1.92em;
	white-space: nowrap;
	-webkit-text-stroke: 0.03em var(--yellow);
	text-shadow:
		0.06em 0 0 var(--black),
		-0.06em 0 0 var(--black),
		0 0.06em 0 var(--black),
		0 -0.06em 0 var(--black),
		0.06em 0.06em 0 var(--black),
		-0.06em -0.06em 0 var(--black),
		0.06em -0.06em 0 var(--black),
		-0.06em 0.06em 0 var(--black);
}


.input {
	margin-top: 1em;
	height: 60vh;
	display: flex;
	flex-direction: column;
	gap: 1em;
	width: 100%;

	& > :nth-child(-n+2) {
		background-color: var(--white);
		background-image: url(../images/hands-alpha.webp);
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
  		background-origin: content-box;

		-webkit-appearance: none;
		appearance: none;
		outline: none;

		flex: 1 1;
		font-size: 1rem;
		padding: 0.5em;
		resize: none;
		box-shadow:
			0 0 0 0.08rem var(--black),
			0 0 0 0.16rem var(--yellow),
			0 0 0 0.24rem var(--black);

		scrollbar-width: thin;
		scrollbar-color: var(--yellow) var(--black);

		&::-webkit-scrollbar {
			width: 6px;
		}

		&::-webkit-scrollbar-track {
			background: var(--black);
		}

		&::-webkit-scrollbar-thumb {
			background-color: var(--yellow);
			border-radius: 10px;
			border: 1px solid var(--black);
		}

		&::-webkit-scrollbar-thumb:hover {
			background-color: var(--white);
		}

	}

	& > :nth-child(3) {
		-webkit-appearance: none;
		appearance: none;

		color: var(--black);
		flex: 0 0 auto;
		height: 2.5rem;
		width: 100%;

		letter-spacing: 0.1em;
		font-family: OPTINational;
		font-size: 1.2em;
		-webkit-text-stroke: 0.03em var(--yellow);
		text-shadow:
			0.06em 0 0 var(--black),
			-0.06em 0 0 var(--black),
			0 0.06em 0 var(--black),
			0 -0.06em 0 var(--black),
			0.06em 0.06em 0 var(--black),
			-0.06em -0.06em 0 var(--black),
			0.06em -0.06em 0 var(--black),
			-0.06em 0.06em 0 var(--black);

		box-shadow:
			0 0 0 0.08rem var(--black),
			0 0 0 0.16rem var(--yellow),
			0 0 0 0.24rem var(--black);
		
		background-color: var(--white);
		transition: font-size 0.15s ease, box-shadow 0.15s ease;
		cursor: pointer;

		&:hover {
			font-size: 1.4em;
			box-shadow:
				0 0 0 0.08rem var(--black),
				0 0 0 0.16rem var(--yellow),
				0 0 0 0.24rem var(--black),
				inset 0 0 0.5em rgba(0,0,0,0.5);
		}
	}

}
